*{
	padding:0;
	margin:0;
	box-sizing: border-box;

}

body{

	background-image:url("flower.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.list1{

	position:absolute;
	top:5%;
	left:5%;

}

.list1:hover, .list2:hover, .list3:hover{
	background:red;


}

.list2{

	position:absolute;
	top:5%;
	left:40%;

}

.list3{

	position:absolute;
	top:5%;
	left:75%;

}

a{

	text-decoration: none;
	font-size:30px;
	color:#000;
}





#ins{

	border-radius:100%;
	width:80px;
	height:50px;
	mix-blend-mode: multiply;
	position:absolute;
	top:130px;
	left:180px;

}

.ins{
	position:absolute;
	top:140px;
	left:265px;


}

#cn{

	border-radius:100%;
	width:80px;
	height:50px;
    mix-blend-mode: multiply;
    position:absolute;
	top:260px;
	left:180px;

}

.cn{

	position:absolute;
	top:275px;
	left:265px;
}
#fb{

	border-radius:100%;
	width:80px;
	height:50px;
    mix-blend-mode: multiply;
     position:absolute;
	top:380px;
	left:180px;
}

.fb{

	position:absolute;
	top:395px;
	left:265px;
}

#mae{
border-radius:100%;
width:100px;
height:100px;
position:absolute;
left:45%;

}

.icons{

	position:absolute;
	top:60%;
	left:50%;
}